<h1>L채gg till resa</h1>

<%= form_tag '/trips' do %>

	<div class="control-group">
		<%= label_tag :datum, 'Datum', :class => 'control-label' %>
		<div class="controls">
			<%= text_field_tag :datum, Time.now.strftime('%Y-%m-%d') %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :fran, 'Fr책n', :class => 'control-label' %>
		<div class="controls">
			<%= text_field_tag :fran %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :till, 'Till', :class => 'control-label' %>
		<div class="controls">
			<%= text_field_tag :till %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :avgangtabell, 'Avg책ng enligt tidtabell', :class => 'control-label' %>
		<div class="controls">
			<%= text_field_tag :avgangtabell %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :avgangverklig, 'Verklig avg책ngstid', :class => 'control-label' %>
		<div class="controls">
			<%= text_field_tag :avgangverklig %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :ankomsttabell, 'Ankomsttid enligt tidtabell', :class => 'control-label' %>
		<div class="controls">
			<%= text_field_tag :ankomsttabell %>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag :ankomstverklig, 'Verklig ankomsttid', :class => 'control-label' %>
		<div class="controls">
			<%= text_field_tag :ankomstverklig %>
		</div>
	</div>
	
	<%= submit_tag "Spara resa", :class => 'btn' %>

<% end %>


<!--attr_accessible :ankomstitid, :ankomsttabell, :ankomstverklig, :avgangitid, :avgangtabell, :avgangverklig, :datum, :user_id-->