<h1>Home#index</h1>
<p class="lead">Find me in app/views/home/index.html.erb</p>

<h3>Mina resor</h3>

<% if !@trips.blank? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Datum</td>
				<td>Från</td>
				<td>Avgång enligt tidtabell</td>
				<td>Verklig avgångstid</td>
				<td>Försening</td>
				<td>Till</td>
				<td>Ankomst enligt tidtabell</td>
				<td>Verklig ankomsttid</td>
				<td>Försening</td>
				<td>Total försening</td>
			</tr>
		</thead>
		<tbody>
			<% @trips.each do |trip| %>
			<tr>
				<td><%=trip.datum.strftime('%Y-%m-%d') %></td>
				<td><%=trip.fran %></td>
				<td><%=trip.avgangtabell %></td>
				<td><%=trip.avgangverklig %></td>
				<td class="success"><%=Time.at(trip.diff1).gmtime.strftime('%H:%M') if !trip.diff1.nil? %></td>
				<td><%=trip.till %></td>
				<td><%=trip.ankomsttabell %></td>
				<td><%=trip.ankomstverklig %></td>
				<td><%=Time.at(trip.diff2).gmtime.strftime('%H:%M') if !trip.diff2.nil?  %></td>
				<td></td>
			</tr>
			<% end %>
		</tbody>
		<tr></tr>
	</table>
<% end %>

<%= link_to 'Lägg till resa', new_trip_path, :class => 'btn' %>

<% if !@presets.blank? %>
	<h3>Favoriter</h3>
	<ul>
		<% @presets.each do |preset| %>
			<li>
				<%= link_to preset.label, edit_preset_path(preset) %> <br>
				<%= link_to 'Ny resa', new_trip_path(:preset => preset.id), :class => 'btn btn-primary' %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Lägg till favorit', new_preset_path, :class => 'btn' %>