<h1>Home#index</h1>
<p class="lead">Find me in app/views/home/index.html.erb</p>

<h3>Mina resor</h3>

<% if !@trips.blank? %>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Datum</td>
				<td>Från</td>
				<td>Avgång enligt tidtabell</td>
				<td>Verklig avgångstid</td>
				<td>Försening</td>
				<td>Till</td>
				<td>Ankomst enligt tidtabell</td>
				<td>Verklig ankomsttid</td>
				<td>Försening</td>
				<td>Total försening</td>
			</tr>
		</thead>
		<tbody>
			<% masterDiff = 0 %>
			<% @trips.each do |trip| %>
				<%
				if !trip.avgangitid
					totalDiff = trip.diff1
					avgangForsening = Time.at(trip.diff1).gmtime.strftime('%H:%M')	
				else
					totalDiff = 0
					avgangForsening = 0
				end

				if !trip.ankomstitid
					totalDiff += trip.diff2
					ankomstForsening = Time.at(trip.diff2).gmtime.strftime('%H:%M')	
				else
					totalDiff += 0
					ankomstForsening = 0
				end

				masterDiff += totalDiff
				totalDiff = Time.at(totalDiff).gmtime.strftime('%H:%M')

				%>
				<tr>
					<td><%=trip.datum.strftime('%Y-%m-%d') %></td>
					<td><%=trip.fran %></td>
					<td><%=trip.avgangtabell %></td>
					<td><%=trip.avgangverklig %></td>
					<td class="<%= trip.avgangitid ? 'in-time' : 'delayed' %>">
						<%= avgangForsening %>
					</td>
					<td><%=trip.till %></td>
					<td><%=trip.ankomsttabell %></td>
					<td><%=trip.ankomstverklig %></td>
					<td class="<%= trip.ankomstitid ? 'in-time' : 'delayed' %>">
						<%= ankomstForsening %>
					</td>
					<td>
						<%= totalDiff %>
					</td>
				</tr>
			<% end %>
			<tfoot>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><%= Time.at(masterDiff).gmtime.strftime('%H:%M')%></td>
				</tr>
			</tfoot>
		</tbody>
		<tr></tr>
	</table>
<% end %>

<%= link_to 'Lägg till resa', new_trip_path, :class => 'btn' %>

<% if !@presets.blank? %>
	<h3>Favoriter</h3>
	<ul>
		<% @presets.each do |preset| %>
			<li>
				<%= link_to preset.label, edit_preset_path(preset) %> <br>
				<%= link_to 'Ny resa', new_trip_path(:preset => preset.id), :class => 'btn btn-primary' %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Lägg till favorit', new_preset_path, :class => 'btn' %>